# Banking and Unemployment
---

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
from census import Census
from us import states

# census key
from config import (census_key, gkey)

# Census API Key
c = Census(census_key, year=2013)

## Data Retrieval

In [2]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("B01003_001E", "B23025_005E"), {
                         'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B23025_005E": "Unemployment Count",
                                      "zip code tabulation area": "Zipcode"})

# Add in Employment Rate (Unemployment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Population", "Unemployment Rate", "Zipcode"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

   Population  Unemployment Rate Zipcode
0     18450.0           7.934959   00601
1     41302.0          11.541814   00602
2     53683.0           8.086359   00603
3      6591.0           2.033075   00606
4     28963.0           3.915340   00610

## Combine Data

In [3]:
# Import the original data we analyzed earlier. Use dtype="object" to match other
census_data_original = pd.read_csv(
    "../Resources/zip_bank_data.csv", dtype="object", encoding="utf-8")

# Visualize
print(len(census_data_original))
census_data_original.head()

700

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Lat,Lng,Bank Count
0,49058,"Hastings, MI 49058, USA",19031,40.8,46777,22137,13.18375282,42.6306916,-85.2929384,9
1,71405,"Ball, LA 71405, USA",5687,35.8,55242,23941,15.73764727,31.4061799,-92.396174,12
2,20634,"Great Mills, MD 20634, USA",6562,31.9,79944,35961,9.295946358,38.2201614,-76.4967919,9
3,38487,"Williamsport, TN 38487, USA",762,41.6,38125,18884,24.40944882,35.7310368,-87.2419299,0
4,58466,"Marion, ND 58466, USA",509,44.5,69844,36981,9.430255403,46.5594224,-98.3481542,1

In [4]:
# Merge the two data sets along zip code
zipcode_merge = pd.merge(census_data_original, census_pd, how='left', on=["Zipcode", "Zipcode"])
zipcode_merge.head()

# Save the revised Data Frame as a csv

zipcode_merge.to_csv("../Resources/bank_data_with_employment_om.csv", encoding="utf-8", index=False)

# Visualize
print(len(zipcode_merge))
zipcode_merge.head()

700

,Zipcode,Address,Population_x,Median Age,Household Income,Per Capita Income,Poverty Rate,Lat,Lng,Bank Count,Population_y,Unemployment Rate
0,49058,"Hastings, MI 49058, USA",19031,40.8,46777,22137,13.18375282,42.6306916,-85.2929384,9,19031.0,5.312385
1,71405,"Ball, LA 71405, USA",5687,35.8,55242,23941,15.73764727,31.4061799,-92.396174,12,5687.0,4.571830
2,20634,"Great Mills, MD 20634, USA",6562,31.9,79944,35961,9.295946358,38.2201614,-76.4967919,9,6562.0,4.053642
3,38487,"Williamsport, TN 38487, USA",762,41.6,38125,18884,24.40944882,35.7310368,-87.2419299,0,762.0,10.236220
4,58466,"Marion, ND 58466, USA",509,44.5,69844,36981,9.430255403,46.5594224,-98.3481542,1,509.0,1.178782

## Heatmap of poverty rate

In [5]:
# Configure gmaps with API key
import gmaps
gmaps.configure(api_key=gkey)

In [10]:
# Store 'Lat' and 'Lng' into  locations 
locations = zipcode_merge[["Lat", "Lng"]].astype(float)



# Convert Poverty Rate to float and store
poverty_rate = zipcode_merge["Poverty Rate"].astype(float)


# HINT: be sure to handle NaN values

In [11]:
zipcode_merge.dropna()

,Zipcode,Address,Population_x,Median Age,Household Income,Per Capita Income,Poverty Rate,Lat,Lng,Bank Count,Population_y,Unemployment Rate
0,49058,"Hastings, MI 49058, USA",19031,40.8,46777,22137,13.18375282,42.6306916,-85.2929384,9,19031.0,5.312385
1,71405,"Ball, LA 71405, USA",5687,35.8,55242,23941,15.73764727,31.4061799,-92.396174,12,5687.0,4.571830
2,20634,"Great Mills, MD 20634, USA",6562,31.9,79944,35961,9.295946358,38.2201614,-76.4967919,9,6562.0,4.053642
3,38487,"Williamsport, TN 38487, USA",762,41.6,38125,18884,24.40944882,35.7310368,-87.2419299,0,762.0,10.236220
4,58466,"Marion, ND 58466, USA",509,44.5,69844,36981,9.430255403,46.5594224,-98.3481542,1,509.0,1.178782
5,89316,"Eureka, NV 89316, USA",1513,38.7,63603,26280,14.87111699,39.564892,-115.9940986,1,1513.0,0.660939
6,66507,"Maple Hill, KS 66507, USA",1237,31.8,67500,23114,2.425222312,38.9793352,-96.0044121,1,1237.0,1.535974
7,93637,"Madera, CA 93637, USA",40515,29.5,48974,17449,20.05183265,36.9152938,-120.2051096,0,40515.0,3.258053
8,92392,"Victorville, CA 92392, USA",54557,27.9,58667,19090,19.85446414,34.4854334,-117.4203974,14,54557.0,7.027513
9,49080,"Plainwell, MI 49080, USA",15624,40.9,53743,25048,11.97516641,42.446414,-85.5817911,6,15624.0,6.003584
10,53118,"Dousman, WI 53118, USA",7248,46.9,81619,38393,3.214679912,42.9902388,-88.4984991,2,7248.0,3.187086
11,14033,"Colden, NY 14033, USA",2170,44.3,81979,32764,6.728110599,42.6628737,-78.6909263,1,2170.0,4.746544
12,71331,"Effie, LA 71331, USA",841,34.3,37109,18372,24.61355529,31.2692973,-92.0469151,0,841.0,2.853746
13,60645,"Chicago, IL 60645, USA",46913,35,48918,25500,18.4192015,42.0105286,-87.6926257,197,46913.0,4.631978
14,46236,"Indianapolis, IN 46236, USA",27509,40.3,80833,38140,4.74753717,39.9008411,-85.9611082,47,27509.0,3.696972
15,92285,"Landers, CA 92285, USA",2739,50.1,22917,17840,37.60496532,34.3350492,-116.5373923,1,2739.0,5.768529
16,46524,"Etna Green, IN 46524, USA",2541,32,60033,19849,13.34120425,41.3129797,-86.0325629,3,2541.0,3.227076
17,83830,"Fernwood, ID 83830, USA",929,42.7,37244,16450,8.934337998,47.0795166,-116.3845766,0,929.0,0.000000
18,10553,"Mt Vernon, NY 10553, USA",9895,40.7,58514,26137,15.26023244,40.9071072,-73.8213213,196,9895.0,9.004548
19,64480,"Rea, MO 64480, USA",325,57.5,65000,34670,11.69230769,40.0720342,-94.6657027,0,325.0,0.000000
20,44629,"Gnadenhutten, OH 44629, USA",2707,35.9,43545,19101,9.050609531,40.3480833,-81.4388858,2,2707.0,3.398596
21,31405,"Savannah, GA 31405, USA",37016,34.6,43051,23719,18.3623298,32.0371137,-81.1747498,49,37016.0,5.149125
22,28635,"Hays, NC 28635, USA",3920,35.6,30565,14292,23.57142857,36.3338025,-81.1306391,0,3920.0,4.821429
23,63039,"Gray Summit, MO 63039, USA",1297,31.7,44521,18539,4.703161141,38.4977334,-90.8436885,6,1297.0,6.939090
24,63566,"Winigan, MO 63566, USA",118,38.9,34107,15108,0,40.0361993,-92.9475662,1,118.0,0.000000
25,11220,"Brooklyn, NY 11220, USA",103089,32.4,37580,16263,30.76855921,40.6385229,-74.0153231,199,103089.0,5.785292
26,36736,"Dixons Mills, AL 36736, USA",1756,42.3,28333,17708,33.20045558,32.0755092,-87.7664934,0,1756.0,5.808656
27,28618,"Deep Gap, NC 28618, USA",1871,44.3,41929,23581,9.780865847,36.2119208,-81.5267282,1,1871.0,1.817210
28,53156,"Palmyra, WI 53156, USA",3054,42.4,53600,25161,9.790438769,42.8749223,-88.6144839,1,3054.0,4.223969
29,90302,"Inglewood, CA 90302, USA",30502,32.4,43042,21718,18.77253951,33.9742906,-118.3520389,124,30502.0,6.812668
...,...,...,...,...,...,...,...,...,...,...,...,...
665,45005,"Franklin, OH 45005, USA",29997,40.5,52016,24292,9.850985099,39.543358,-84.3016021,47,29997.0,5.713905
666,99661,"Sand Point, AK 99661, USA",1243,39.6,71250,27423,18.66452132,55.2693058,-160.6748964,0,1243.0,2.574417
668,78122,"Leesville, TX 78122, USA",200,56.6,30610,20433,13,29.4165096,-97.6873706,0,200.0,0.000000
669,50433,"Dougherty, IA 50433, USA",206,45.4,55781,41122,3.883495146,42.920982,-93.0375914,1,206.0,2.912621
670,59802,"Missoula, MT 59802, USA",19292,33,37931,25060,22.29939871,46.9539821,-113.9120099,0,19292.0,6.225378
672,22191,"Woodbridge, VA 22191, USA",61863,30.9,79198,31401,10.41494916,38.6317233,-77.2520101,57,61863.0,3.982995
673,12769,"Phillipsport, NY 12769, USA",142,50.2,48750,29437,27.46478873,41.6431129,-74.4481662,0,142.0,0.000000
674,21053,"Freeland, MD 21053, USA",3227,45.5,90361,36118,3.811589712,39.6970138,-76.7221082,7,3227.0,2.386117
675,48851,"Lyons, MI 48851, USA",2493,36.5,53704,22288,8.182912154,42.9652441,-84.9193082,1,2493.0,5.535499
677,88321,"Encino, NM 88321, USA",117,57.4,27054,31962,10.25641026,34.7032677,-105.4536718,0,117.0,0.000000
678,14131,"Ransomville, NY 14131, USA",4756,47.9,57500,27970,9.440706476,43.2320594,-78.9061921,1,4756.0,5.046257
679,96084,"Round Mountain, CA 96084, USA",593,55,31897,23506,16.69477234,40.9048101,-122.0229676,0,593.0,2.866779
680,41763,"Slemp, KY 41763, USA",645,41.6,36827,16535,17.98449612,37.0495523,-83.1166438,0,645.0,0.620155
681,35005,"Adamsville, AL 35005, USA",8150,38.2,46059,21273,17.86503067,33.6047446,-87.0424393,2,8150.0,7.141104
682,84116,"Salt Lake City, UT 84116, USA",33574,29.2,42235,15888,21.27241318,40.8038325,-112.0237903,7,33574.0,6.388872
683,55419,"Minneapolis, MN 55419, USA",26808,36.8,94177,49251,8.075947478,44.9061358,-93.2885455,162,26808.0,4.879141
684,79778,"Rankin, TX 79778, USA",900,44.6,61806,28706,10.44444444,31.1870316,-101.9119871,1,900.0,1.222222
685,16930,"Liberty, PA 16930, USA",1348,41,44934,20611,15.05934718,41.5701913,-77.1255055,1,1348.0,3.931751
686,74438,"Hitchita, OK 74438, USA",265,31.6,46875,14888,17.35849057,35.5198866,-95.7513494,0,265.0,9.433962
687,25401,"Martinsburg, WV 25401, USA",14987,34.7,36600,21158,27.20357643,39.4529363,-77.9681544,32,14987.0,7.019417
688,53816,"Mt Hope, WI 53816, USA",942,33.4,44375,18813,29.29936306,42.9580239,-90.8484524,1,942.0,2.441614
689,72856,"Sand Gap, AR 72856, USA",528,52.1,31016,24773,9.28030303,35.7781087,-93.0676373,0,528.0,2.651515
690,42366,"Philpot, KY 42366, USA",5847,43.2,63170,26182,4.976911237,37.7060405,-86.9624086,0,5847.0,3.044296
691,54120,"Fence, WI 54120, USA",111,53.5,31250,19959,11.71171171,45.7217009,-88.3800868,0,111.0,4.504505
694,99753,"Koyuk, AK 99753, USA",279,19.9,28333,8987,53.76344086,64.9424911,-161.1275809,0,279.0,11.827957
695,16636,"Dysart, PA 16636, USA",801,47.6,42303,21236,14.48189763,40.594001,-78.4865602,0,801.0,3.121099
696,95051,"Santa Clara, CA 95051, USA",53152,36.1,100504,43487,6.865216737,37.3598283,-121.9814354,176,53152.0,5.166315
697,55433,"Minneapolis, MN 55433, USA",34024,36.3,59258,27493,9.972372443,45.1670628,-93.3132624,64,34024.0,5.260992
698,76556,"Milano, TX 76556, USA",1392,50.7,39375,21201,17.52873563,30.6897762,-96.8994495,0,1392.0,3.879310
699,14304,"Niagara Falls, NY 14304, USA",29745,44.7,47878,25791,11.23213986,43.0939533,-78.9627624,20,29745.0,4.437721

In [12]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=poverty_rate, dissipating=False)
# Add layer
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Convert bank rate to list
bank_rate = zipcode_merge["Bank Count"].tolist()

In [14]:
# Create bank symbol layer
bank_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Bank amount: {bank}" for bank in bank_rate]
)


fig = gmaps.figure()
fig.add_layer(bank_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(bank_layer)

fig

Figure(layout=FigureLayout(height='420px'))